
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:#3C4245;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#920000, #A60000, #B10000, #BB0000, #C60000);
    color: white;
    padding: 10px 20px;
    position: relative;
}
.header-left {
    display: flex;
    align-items: center;
}
.header-left img {
    margin-right: 15px;
    width: 80px;
    height: auto;
}
.header-left h1 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}
.header-left h1:first-child {
    font-weight: bold;
    font-size: 2.5rem;
}
.header-left h1:last-child {
    font-weight: normal;
    font-size: 1rem;
}

.navigation-home {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.navigation-home.open {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#C60000, #870202, #660404, #5A0606, #510606);
    width: 100%;
    padding: 10px 0;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 1;
}
.navigation-home a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.navigation-home a:hover {
    background-color: #661717;
}
.navigation-home a.active {
    background-color: #f5f5f5;
    color: #000000;
    font-weight: bold;
    border-bottom: 2px solid #002922;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 10px;
}
.menu-icon {
    width: 35px;
    height: 4px;
    background-color: #f8f8f8;
    transition: all 0.3s;
}
.menu-button.active .menu-icon:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.menu-button.active .menu-icon:nth-child(2) {
    opacity: 0;
}
.menu-button.active .menu-icon:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

main{
    margin-bottom: 20px;
}

main h2 {
    color: white;
    margin-bottom: 20px;
}

form {
    display: block;
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"] {
    width: 50%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus {
    border-color: #920000;
    outline: none;
}

select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: #333;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23333"/></svg>'); /* Seta personalizada */
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 10px;
}

select:focus {
    border-color: #007bff;
    outline: none;
}

option {
    padding: 10px;
}



button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #393939;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #920000;
}

.selected-genres {
    margin-top: 10px; 
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.selected-genres span {
    margin-right: 10px;
    background-color: #ccc;
    padding: 5px;
    border-radius: 4px;
}

#genreError {
    color: red; 
    margin-top: 10px;
}

.required {
    color: rgb(115, 8, 8);
}

.optional {
    color: blue;
    font-size: 0.9em; 
    margin-left: 5px;
}

fieldset legend {
    font-family: Georgia, serif; 
    font-size: 1.5em; 
    font-weight: bold; 
    margin-bottom: 10px; 
}


footer {
    background: linear-gradient(#783434, #6e2020, #661515, #620c0c, #430303);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .information p, footer .footer p {
    margin: 5px 0;
}

footer .information {
    max-width: 50%;
    text-align: left;
}

footer .footer {
    text-align: right;
}

footer img {
    margin: 0 10px;
    width: 30px;
    height: auto;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-button {
        display: flex;
    }
    .navigation-home {
        display: none;
        flex-direction: column;
        gap: 10px;
    }
    .navigation-home.open {
        display: flex;
    }
}